*{
    $font: 'Nunito', sans-serif;
}

.btn-question {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.accordion .card-header {
  padding-bottom: 0;
  background-color: aliceblue;
}

.container{
  margin-top: 5vh;
  margin-bottom: 5vh;

  .text-center{
    margin-bottom: 2vh;
  }
}
  
  
  