<div class="container">
    <h2 class="text-center">Preguntas frecuentes</h2>
    <div class="accordion" id="faqAccordion">
      <div class="card mb-3">
        <div class="card-header" id="heading1">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
              <strong>¿Como agendar una cita?</strong>
            </button>
          </h5>
        </div>
  
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
          <div class="card-body">
            Es necesario registrase y tener una cuenta, luego buscar por la especialidad o medico que necesite y agendar en las horas disponibles que tenga.
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header" id="heading2">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              <strong>¿Es obligacion pagar por agendar una cita?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-bs-parent="#faqAccordion">
          <div class="card-body">
            En el sitio web es opcional, pues es un precio de referencia. La cita real puede costar mas.
          </div>
        </div>
      </div>
    
      <div class="card mb-3">
        <div class="card-header" id="heading3">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              <strong>¿Como puedo registrarme como doctor?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-bs-parent="#faqAccordion">
          <div class="card-body">
            Debe validar su identidad, la ubicacion de su consulta y presentar documentos que validen su condicion de medico.
          </div>
        </div>
      </div>
    
      <div class="card mb-3">
        <div class="card-header" id="heading4">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              <strong>¿Cual es el porcentaje que se llevan por cita?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-bs-parent="#faqAccordion">
          <div class="card-body">
            Resermed se lleva un 3% del total de la cita para mantener sus operaciones funcionando y mejorar sus servicios.
          </div>
        </div>
      </div>
    
      <div class="card mb-3">
        <div class="card-header" id="heading5">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <strong>¿Que pasa si no me presento a mis citas medicas?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#faqAccordion">
          <div class="card-body">
            Si avisa a traves del sistema o al medico/mantendor nada, pero si falta sin avisar acomulara hasta 3 faltas antes de suspender su cuenta.
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header" id="heading6">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse5">
              <strong>¿Como puedo reportar un comportamiento indevido?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-bs-parent="#faqAccordion">
          <div class="card-body">
            Utilice el apartado Contactanos para enviar sus quejas o recomendaciones y de esta forma sera atendidor por un miembro de nuestro equipo.
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header" id="heading7">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link btn-question collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse5">
              <strong>Al borrar mi cuenta, ¿se eliminan mis datos personales?</strong>
            </button>
          </h5>
        </div>
    
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-bs-parent="#faqAccordion">
          <div class="card-body">
            La informacion sensible se eliminara, pero se mantendran registros de las citas asistidas por un tiempo.
          </div>
        </div>
      </div>
    </div>
  </div>
  