<nav class="navbar">
    <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="../../assets/resermed__2_.png" alt="logo">
            <h1>ReserMed</h1>
        </a>
        
    </div>
    <div class="dropdown">
        <a (click)="toggleMenu()" class="dropdown-menu">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="navbar-switchcase" [ngSwitch]="userType" *ngIf="sessionOn">
        
        <div class="navbar-links"[class.navbar-links-show]="toggle" *ngSwitchCase="'usuario'">
            <ul>
                <li><a [routerLink]="['/citas']" routerLinkActive="router-link-active" >Mis Citas</a></li>
                <li><a [routerLink]="['/calendario']" routerLinkActive="router-link-active">Mi Calendario</a></li>
                <li><a [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Mi Perfil</a></li>
                <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
        </div>
    
        <div class="navbar-links"[class.navbar-links-show]="toggle" *ngSwitchCase="'medico'">
            <ul>
                <li><a [routerLink]="['/citas']" routerLinkActive="router-link-active" >Mis Citas</a></li>
                <li><a [routerLink]="['/calendario']" routerLinkActive="router-link-active">Mi Calendario</a></li>
                <li><a [routerLink]="['/nuevo-horario']" routerLinkActive="router-link-active" >Definir horario</a></li>
                <li><a [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Mi Perfil</a></li>

                <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
        </div>

        <div class="navbar-links"[class.navbar-links-show]="toggle" *ngSwitchCase="'mantenedor'">
            <ul>
                <li><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Panel de Mantenedor</a></li>
                <li><a [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Mi Perfil</a></li>
                <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    
    <div class="navbar-links" [class.navbar-links-show]="toggle" *ngIf="!sessionOn">
        <ul>
            <li><a [routerLink]="['/nosotros']">Quiénes Somos</a></li>
            <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar Sesión</a></li>
            <li><a [routerLink]="['/registro']" routerLinkActive="router-link-active">Registrarse</a></li>
        </ul>
    </div>
</nav>