$font: 'Nunito', sans-serif;

.modal{ 
    display: fixed;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog{
    max-width: 70%;
    
}

.modal-body{
    margin: 0;
}

.card-data {
    padding: 40px;
    border: none;
}

.card{

    .imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            display: block;
            margin-top: 5vh;
            margin-bottom: 1vh;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            border-radius: 50%;
        }
    }

    .datos{
        margin-top: 3vh;
        text-align: left;
        h3{
            margin-top: 1vh;
            font-family: $font;
            font-size: 1.5rem;
        }
        p{
            font-family: $font;
            margin-top: 0;
            margin-right: 2%;
            font-size: 1rem;
        }
    }
    .direccion{
        margin-top: 3vh;
    }
}

.detalles-btn{
    flex-direction: column;
}

.btn-cancelar {
    background: linear-gradient(to right, #c24949 0%, #c24949 50%, #752020 50%, #752020 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-cancelar:hover {
    background-position: -100% 0;
}

.btn-pagar {
    background: linear-gradient(to right, #4C7AAF 0%, #4C7AAF 50%, #00336d 50%, #00336d 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-pagar:hover {
    background-position: -100% 0;
}