<section class="container">
    <h2 class="title">
        <span class="primary">Nuestro equipo </span>
        <span class="secondary">Integrantes del equipo de desarrollo ReserMed</span>
    </h2>

    <div class="gallery-wrapper">
        <figure class="gallery-item">
            <img src="../../../assets/img/team/juako.jpg" alt="foto edu" class="item-image"/>
            <figcaption class="item-description">
                <h2 class="name">Joaquin Canales</h2>
                <span class="role">Developer</span>
            </figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="../../../assets/img/team/mario.jpg" alt="foto edu" class="item-image"/>
            <figcaption class="item-description">
                <h2 class="name">Mario Cifuentes</h2>
                <span class="role">Developer</span>
            </figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="../../../assets/img/team/edu.jpg" alt="foto edu" class="item-image"/>
            <figcaption class="item-description">
                <h2 class="name">Eduardo Contreras</h2>
                <span class="role">Developer</span>
            </figcaption>
        </figure>
    </div>
</section>
